<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=EDGE"> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>添加用户</title>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<link rel="stylesheet" href="../../static/layui/css/layui.css">
<script src="../../static/jquery.min.js"></script>
<script src="../../static/layui/js/pages/request.js"></script>
</head>
<body>
	<form class="layui-form" action="">
		<br>
		<div class="layui-form-item" id="leave">
			<div class="layui-inline">
				<label class="layui-form-label">离职日期</label>
				<div class="layui-input-inline">
					<input type="text" name="ldate" id="ldate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item"  id="holiday">
		<div class="layui-inline">
			<label class="layui-form-label" style="width: 80px">请假起始日期</label>
			<div class="layui-input-inline">
				<input type="text" name="hdate1" id="hdate1" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" >
			</div>
		</div>
		<div class="layui-inline" style="margin-top: 10px">
			<label class="layui-form-label" style="width: 80px">请假结束日期</label>
			<div class="layui-input-inline">
				<input type="text" name="hdate2" id="hdate2" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
			</div>
		</div>
		</div>

		<div class="layui-form-item" style="margin-top: 20px">
			<div class="layui-input-block">
				<button id="addButton" class="layui-btn" lay-submit lay-filter="formDemo" style="margin-top: 20px">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary" style="margin-top: 20px">重置</button>
			</div>
		</div>
	</form>
	<script>

	var uid = request.QueryString("uid");
    var active = request.QueryString("active");
    $(document).ready(function(){
        if(active=='2'){
            $("#leave").css("display","none");
            $("#hdate1").attr("lay-verify","date");
            $("#hdate2").attr("lay-verify","date");
        }else if(active=="3"){
            $("#holiday").css("display","none");
            $("#ldate").attr("lay-verify","date");
        }
    });
	layui.use('form',function() {
		var form = layui.form;

		form.on('submit(formDemo)',function(data) {
				var date = data.field.ldate;
				data.field.uid = uid;
				data.field.active = active;

                if(data.field.active=='2' && data.field.hdate1>data.field.hdate2){
                    layer.msg("时间段不正确");
                    return false;
                }else{
                $("#addButton").attr("disabled","true");
                $.ajax({
                    type:"post",
                    url:"/user/updateState",
                    data : JSON.stringify(data.field),
                    dataType : "json",
                    contentType : "application/json",
                    success : function(obj) {
                        $('#addButton').removeAttr("disabled");
                        var code = obj.code;
                        var msg=obj.msg;
                        if (code == 100) {
                            layer.msg(msg);
                        }else{
                            layer.msg(msg);
                        }
                        return false;
                    },
                    error : function(data) {
                        $('#addButton').removeAttr("disabled");
                        layer.msg(obj.msg);
                        return false;
                    }
                })
			}

		});
	}); 
	</script>
	<script>
        layui.use(['form', 'layedit', 'laydate'], function(){
            var form = layui.form
                ,layer = layui.layer
                ,laydate = layui.laydate;

            //日期
            laydate.render({
                elem: '#ldate'
            });
            laydate.render({
                elem: '#hdate1'
            });
            laydate.render({
                elem: '#hdate2'
            });
        });
	</script>

</body>
</html>