<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=EDGE"> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>修改密码</title>
<script src="../../static/jquery.min.js"></script>
<script type="text/javascript" src="../../static/layui/layui.js"></script>
<link rel="stylesheet" href="../../static/layui/css/layui.css">
<script src="../../static/layui/js/json2.js"></script>
</head>
<body>
<br/><br/>
<form class="layui-form" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">原始密码</label>
    <div class="layui-input-inline">
      <input type="password" id="oldPassword" name="oldPassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
 </div>
 <div class="layui-form-item">
    <label class="layui-form-label">新密码</label>
    <div class="layui-input-inline">
      <input type="password" id="newPassword" name="newPassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
 </div>
  <div class="layui-form-item">
    <label class="layui-form-label">确认密码</label>
    <div class="layui-input-inline">
      <input type="password" id="retiredPassword" name="retiredPassword" required lay-verify="required" placeholder="请输入确认密码" autocomplete="off" class="layui-input">
    </div>
 </div>
 <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
 </form>
<script>
//Demo
layui.use('form', function(){
  var form = layui.form;
  
  //监听提交
  form.on('submit(formDemo)', function(data){
	  var newPassword=$("#newPassword").val();
	  var retiredPassword=$("#retiredPassword").val();
	  var oldPassword=$("#oldPassword").val();
	  if(newPassword == retiredPassword){
		  //alert();
		  $.ajax({
				type : "POST",
				url : "/user/updatePassword",//访问路径
				dataType : "json",
				contentType : "application/json",
				data : JSON.stringify(data.field),
				success : function(obj) {
					var code = obj.code;
					var msg=obj.msg;
					if (code == 100) {
						layer.msg(msg);
					}else{
						layer.msg(msg);
					}
					
				},
				error : function(data) {
				}
			});
	  }else{
		  layer.msg("确认密码不一致");
	  }
    return false;
  });
});
</script>


</body>
</html>