<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>易简</title>
    <script src="../static/js/jquery.min.js"></script>
    <script>
        $(document).ready(function(c) {
            if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                window.location.href = "/templates/login.html";
            } else {
                window.location.href = "/templates/loginpc.html";
            }
        });
    </script>
</head>
<body>

</body>
</html>